@page
@model Inventory1.Pages.Inventory_Products.Create
@{
    ViewData["Title"] = "Create";
}
<!-- Outer container (background layer) -->
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%; position: relative; background-color: #f8f9fa;">

    <div class="col-md-6 rounded-lg border shadow-lg p-5 position-relative z-index-2" style="background-color: white;">
        <h1 class="text-center mb-4">Add New Product</h1> 

        <!-- Error Message   ---->
        @if (Model.ErrorMessage.Length > 0){
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close"></button>
            </div>
        }

        <!-- Form ---->
        <form method="post">
            <div class="mb-4">
                <label for="Name" class="form-label">Product Name</label>
                <input id="Name" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span> <!-- Validation error -->
            </div>

            <div class="mb-4">
                <label for="QuantityInStock" class="form-label">Quantity in Stock</label>
                <input id="QuantityInStock" class="form-control" asp-for="QuantityInStock" type="number" step="1" min="0" oninput="if(this.value < 0) this.value = ''; ">
                <span asp-validation-for="QuantityInStock" class="text-danger"></span> <!-- Validation error -->
            </div>

            <div class="mb-4">
                <label for="Price" class="form-label">Price</label>
                <input id="Price" class="form-control" asp-for="Price" type="number" step="0.01" min="0" oninput="if(this.value < 0) this.value = ''; "> <!--  step="0.01" :#1f2020 To Accept decimal value-->
                <span asp-validation-for="Price" class="text-danger"></span> <!-- Validation error -->
            </div>

            <div class="row">
                <div class="col-sm-6 d-grid mb-3">
                    <button type="submit" class="btn" style="background-color: #ffc107; color: #1f2020;"><b>Submit</b></button>
                </div>
                <div class="col-sm-6 d-grid mb-3">
                    <a class="btn btn-updcancel" href="/Inventory_Products/Index" role="button"><b>Cancel</b></a>
                </div>
            </div>
        </form>
    </div>
</div>
